*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background: #55aa77;
}

.brand {
  /* take up the rest of remaining space */
  flex: 1;
}

.navbar div {
  padding: 20px;
}

/* for mobile */
@media(max-width: 650px) {
  .navbar {
    flex-wrap: wrap;
  }
  .brand {
    width: 100%;
    margin: 15px 0 10px 15px;

  }
  .navLink {
    width: 100%;
    margin-left: 15px;
  }
  .navbar div {
    padding: 10px;
  }
}

/*Idea Box*/

/*The way to center the canvas and toolbar on the page is to
create a parent div that is variably the entire width of the screen and center
it using flex or grid and then have its child be the canvas-and-toolbar-cont
with its grid intact but not with justify-items:center on it*/


.main-top {
  position: relative;
}

.intro-frame {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms ease-out, opacity 500ms ease-out;
}

.intro-frame:hover {
  background-color: #ccdddd;
  opacity: 0.92;
}

.intro-frame img {
  width: 100px;
  height: 100px;
  margin: 50px;
}

/*for mobile screens*/
.canvas-and-toolbar-cont{
  /*display: grid;
  grid-template-columns: 80% 20%;*/
  /*when made main-top position: relative, it messed with the offsetLeft and
  offsetTop in ideabox javascript. Making this position: relative so
  offsetParent now refers to a parent that has the same offset on the page
  as does the canvas.*/
  /*position: relative;*/
}
.toolbar {
  display: flex;
  justify-content: center;
}
.toolbar button {
  /*display: block;*/
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 1.33em;
}


/*small screens*/
@media (min-width: 768px){
  .canvas-and-toolbar-cont{
    display: grid;
    grid-template-columns: 540px 84px;
  }
  .cntr-on-small-plus {
    display: flex;
    justify-content: center;
  }
  .toolbar {
    /* get rid of display flex, otherwise will be giant*/
    /*display: block;*/

     /*Center buttons vertically*/
    flex-direction: column;
  }
  .toolbar button {
    /*display: block;*/
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 3em;
  }
}
/* medium screens*/
@media (min-width: 992px){
  .canvas-and-toolbar-cont{
    display: grid;
    grid-template-columns: 800px 84px;
  }
}


#canvas-container {
  grid-column: 1/2;
}
.toolbar {
  grid-column: 2/3;
  vertical-align: middle;
}
#ideaCanv {
  border: solid #333 1px;
  border-radius: 3px;
  touch-action: none;
}
.simpleCntr {
  display: flex;
  justify-content: center;
}
.ideaBoxHd {
  text-align: center;
}
